.DS_Store
.idea/
.vscode/

.venv/
__pycache__/
*.py[cod]
.pytest_cache/

.ipynb_checkpoints/

artifacts/
database/
labels/
normal/
abnormal/
predicted_masks/
segmented_parts/
*.keras

Utilizing_Hybrid_Quantum_Neural_Networks__H_QNNs__and_Complex_valued_Neural_Networks__CVNNs__for_Thermogram_Breast_Cancer_Classification/
Utilizing_Hybrid_Quantum_Neural_Networks__H_QNNs__and_Complex_valued_Neural_Networks__CVNNs__for_Thermogram_Breast_Cancer_Classification.zip

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
